<?xml version="1.0" encoding="utf-8"?>

<Package
	xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
	xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
	xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
	xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
	xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
	xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
	xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
	xmlns:iot2="http://schemas.microsoft.com/appx/manifest/iot/windows10/2"
	IgnorableNamespaces="uap rescap mp com desktop desktop4 iot2">

	<Identity
		Name="ProjectSBS"
		Publisher="O=morning4coffe"
		Version="1.0.0.0" />

	<Properties>
		<DisplayName>ProjectSBS</DisplayName>
		<PublisherDisplayName>ProjectSBS</PublisherDisplayName>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
			Executable="$targetnametoken$.exe"
			EntryPoint="$targetentrypoint$">
			<uap:VisualElements
				DisplayName="ProjectSBS"
				Description="ProjectSBS">
				<uap:SplashScreen />
			</uap:VisualElements>

			<Extensions>
				<!--Specify which CLSID to activate when toast clicked-->
				<desktop:Extension Category="windows.toastNotificationActivation">
					<desktop:ToastNotificationActivation ToastActivatorCLSID="d3d3615f-8ab4-4c60-84a5-82734c2e6643" />
				</desktop:Extension>

				<!--Register COM CLSID LocalServer32 registry key-->
				<com:Extension Category="windows.comServer">
					<com:ComServer>
						<com:ExeServer Executable="ProjectSBS.Windows.exe" Arguments="-ToastActivated" DisplayName="Toast activator">
							<com:Class Id="d3d3615f-8ab4-4c60-84a5-82734c2e6643" DisplayName="Toast activator"/>
						</com:ExeServer>
					</com:ComServer>
				</com:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>
