<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  IgnorableNamespaces="uap rescap com desktop mp">

  <Identity
    Name="3597CaffeStudios.Recurrents"
    Publisher="CN=A4324CBF-D4DD-41DE-9042-BB3AA1508016"
    Version="0.9.14.0" />

  <mp:PhoneIdentity PhoneProductId="b5323638-1e69-4644-a27d-9487a55d21ff" PhonePublisherId="00000000-0000-0000-0000-000000000000" />

  <Properties>
    <DisplayName>Recurrents</DisplayName>
    <PublisherDisplayName>Morning4coffe</PublisherDisplayName>
    <Logo>PackageLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US"/>
    <Resource Language="cs"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="Recurrents"
        Description="Tired of losing track of your spending on many different services? With Recurrents, just input your subscriptions for an easy overview and stay in control with reminders, save money, and enjoy a stress-free experience. Take control of your expenses effortlessly!" Square150x150Logo="MediumTile.png" Square44x44Logo="AppIcon.png" BackgroundColor="transparent">
        <uap:SplashScreen  Image="SplashScreen.png"/>
        <uap:DefaultTile Square71x71Logo="SmallTile.png" Wide310x150Logo="WideTile.png" Square310x310Logo="LargeTile.png"/>
      </uap:VisualElements>

      <Extensions>
        <!--Specify which CLSID to activate when toast clicked-->
        <desktop:Extension Category="windows.toastNotificationActivation">
          <desktop:ToastNotificationActivation ToastActivatorCLSID="d3d3615f-8ab4-4c60-84a5-82734c2e6643" />
        </desktop:Extension>

        <!--Register COM CLSID LocalServer32 registry key-->
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="ProjectSBS.Windows.exe" Arguments="-ToastActivated" DisplayName="Toast activator">
              <com:Class Id="d3d3615f-8ab4-4c60-84a5-82734c2e6643" DisplayName="Toast activator"/>
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>

</Package>
